In [1]:
import xml.etree.ElementTree as ET
from utils import *

In [2]:
rml_folder_path = './data/psg_audio/rml_clean/'

rml_file_path = './data/psg_audio/rml_clean/00000995-100507.rml'

In [3]:
rml_df_converter(rml_file_path).get_matched_df()

,patient_id,stage_start_time,stage_end_time,stage_duration,stage_type,event_start_time,event_end_time,event_duration,respiratory_type
0,995,0.0,210.0,210.0,Wake,NaN,NaN,NaN,NaN
1,995,210.0,300.0,90.0,NonREM1,NaN,NaN,NaN,NaN
2,995,300.0,870.0,570.0,NonREM2,NaN,NaN,NaN,NaN
3,995,870.0,930.0,60.0,Wake,NaN,NaN,NaN,NaN
4,995,930.0,960.0,30.0,NonREM1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
234,995,17400.0,17700.0,300.0,REM,17642.5,17658.5,16,ObstructiveApnea
235,995,17700.0,17730.0,30.0,Wake,NaN,NaN,NaN,NaN
236,995,17730.0,17760.0,30.0,NonREM1,NaN,NaN,NaN,NaN
237,995,17760.0,17880.0,120.0,NonREM2,17820.5,17832.0,11.5,Hypopnea
238,995,17760.0,17880.0,120.0,NonREM2,17855.0,17867.0,12,Hypopnea

In [4]:
rml_to_concat_df(rml_folder_path).get_concat_df()

Converting...00000995-100507.rml
Converting...00000999-100507.rml
Converting...00001000-100507.rml
Converting...00001006-100507.rml

,patient_id,stage_start_time,stage_end_time,stage_duration,stage_type,event_start_time,event_end_time,event_duration,respiratory_type
0,995,0.0,210.0,210.0,Wake,NaN,NaN,NaN,NaN
1,995,210.0,300.0,90.0,NonREM1,NaN,NaN,NaN,NaN
2,995,300.0,870.0,570.0,NonREM2,NaN,NaN,NaN,NaN
3,995,870.0,930.0,60.0,Wake,NaN,NaN,NaN,NaN
4,995,930.0,960.0,30.0,NonREM1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
850,1006,13890.0,14190.0,300.0,NonREM2,14037.5,14048.5,11,ObstructiveApnea
851,1006,13890.0,14190.0,300.0,NonREM2,14087.0,14102.0,15,Hypopnea
852,1006,13890.0,14190.0,300.0,NonREM2,14153.0,14166.0,13,Hypopnea
853,1006,14190.0,14250.0,60.0,NonREM1,NaN,NaN,NaN,NaN
854,1006,14250.0,14280.0,30.0,NonREM2,NaN,NaN,NaN,NaN