In [1]:
import xml.etree.ElementTree as ET
from utils import *

In [5]:
rml_folder_path = './data/rml/'

rml_file_path = './data/rml/00000995-100507.rml'

In [6]:
rml_df_converter(rml_file_path).get_matched_df()

,patient_id,stage_start_time,stage_end_time,stage_duration,stage_type,event_start_time,event_end_time,event_duration,respiratory_type
0,995,0.0,210.0,210.0,Wake,NaN,NaN,NaN,NaN
1,995,210.0,300.0,90.0,NonREM1,NaN,NaN,NaN,NaN
2,995,300.0,870.0,570.0,NonREM2,NaN,NaN,NaN,NaN
3,995,870.0,930.0,60.0,Wake,NaN,NaN,NaN,NaN
4,995,930.0,960.0,30.0,NonREM1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
244,995,17400.0,17700.0,300.0,REM,17642.5,17658.5,16,ObstructiveApnea
245,995,17700.0,17730.0,30.0,Wake,NaN,NaN,NaN,NaN
246,995,17730.0,17760.0,30.0,NonREM1,NaN,NaN,NaN,NaN
247,995,17760.0,17880.0,120.0,NonREM2,17820.5,17832.0,11.5,Hypopnea
248,995,17760.0,17880.0,120.0,NonREM2,17855.0,17867.0,12,Hypopnea

In [ ]:
rml_df = rml_to_concat_df(rml_folder_path).get_concat_df()

In [10]:
rml_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75596 entries, 0 to 75595
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   patient_id        75596 non-null  object
 1   stage_start_time  75596 non-null  float64
 2   stage_end_time    75596 non-null  float64
 3   stage_duration    75596 non-null  float64
 4   stage_type        75596 non-null  object
 5   event_start_time  75596 non-null  object
 6   event_end_time    75596 non-null  object
 7   event_duration    75596 non-null  object
 8   respiratory_type  75596 non-null  object
dtypes: float64(3), object(6)
memory usage: 5.2+ MB

In [11]:
rml_df.to_csv('./data/rml_df.csv', index=False)