In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [3]:
rml_df = pd.read_csv('./data/sleep_stage_respiratory_info.csv')

In [4]:
rml_df

,patient_id,stage_start_time,stage_end_time,stage_duration,stage_type,event_start_time,event_end_time,event_duration,respiratory_type,raw_audio_file_id
0,995,0.0,210.0,210.0,Wake,NaN,NaN,NaN,NaN,00000995_01_00
1,995,210.0,300.0,90.0,NonREM1,NaN,NaN,NaN,NaN,00000995_01_01
2,995,300.0,870.0,570.0,NonREM2,NaN,NaN,NaN,NaN,00000995_01_02
3,995,870.0,930.0,60.0,Wake,NaN,NaN,NaN,NaN,00000995_01_03
4,995,930.0,960.0,30.0,NonREM1,NaN,NaN,NaN,NaN,00000995_01_04
...,...,...,...,...,...,...,...,...,...,...
75500,1701,17820.0,18840.0,1020.0,NonREM2,18696.5,18720.0,23.5,Hypopnea,00001701_05_32
75501,1701,17820.0,18840.0,1020.0,NonREM2,18744.5,18760.5,16.0,Hypopnea,00001701_05_32
75502,1701,17820.0,18840.0,1020.0,NonREM2,18780.5,18794.0,13.5,Hypopnea,00001701_05_32
75503,1701,17820.0,18840.0,1020.0,NonREM2,18817.0,18835.0,18.0,Hypopnea,00001701_05_32
75504,1701,18840.0,18870.0,30.0,Wake,NaN,NaN,NaN,NaN,00001701_06_33

In [10]:
rml_df['stage_type'].value_counts()

NonREM2      60525
NonREM1       6213
REM           3836
Wake          3399
NonREM3       1531
NotScored        1
Name: stage_type, dtype: int64

In [16]:
# 수면 단계별 지속시간의 합을 3600초로 나누어서 나타냄

rml_df.groupby('stage_type')['stage_duration'].sum() / 3600

stage_type
NonREM1        265.108333
NonREM2      32523.558333
NonREM3        213.883333
NotScored        0.008333
REM            916.300000
Wake           106.191667
Name: stage_duration, dtype: float64

In [22]:
# Patient IDs that do not exist with only REM sleep information

rem_lists = rml_df[rml_df['stage_type'] == 'REM']['patient_id'].unique()

In [23]:
all_lists = rml_df['patient_id'].unique()

In [ ]:
# all_lists - rem_lists

no_rem_id = [i for i in all_lists if i not in rem_lists]

no_rem_id

In [ ]:
no_rem_id

In [ ]:

for i in range(len(no_rem_id)):
    print(rml_df[rml_df['patient_id'] == no_rem_id[i]]['stage_type'].unique())

In [36]:
# make df only in no_rem_id lists

no_rem_df = rml_df[rml_df['patient_id'].isin(no_rem_id)]
no_rem_df

,patient_id,stage_start_time,stage_end_time,stage_duration,stage_type,event_start_time,event_end_time,event_duration,respiratory_type,raw_audio_file_id
499,1000,0.0,30.0,30.0,Wake,NaN,NaN,NaN,NaN,00001000_01_00
500,1000,30.0,210.0,180.0,NonREM1,41.0,54.5,13.5,ObstructiveApnea,00001000_01_01
501,1000,30.0,210.0,180.0,NonREM1,91.5,110.5,19.0,ObstructiveApnea,00001000_01_01
502,1000,210.0,510.0,300.0,NonREM2,436.0,448.0,12.0,ObstructiveApnea,00001000_01_02
503,1000,210.0,510.0,300.0,NonREM2,472.0,482.5,10.5,ObstructiveApnea,00001000_01_02
...,...,...,...,...,...,...,...,...,...,...
72660,1667,13050.0,13950.0,900.0,NonREM2,13728.5,13757.5,29.0,ObstructiveApnea,00001667_04_85
72661,1667,13050.0,13950.0,900.0,NonREM2,13790.0,13823.0,33.0,ObstructiveApnea,00001667_04_85
72662,1667,13050.0,13950.0,900.0,NonREM2,13841.5,13879.0,37.5,ObstructiveApnea,00001667_04_85
72663,1667,13050.0,13950.0,900.0,NonREM2,13912.5,13946.0,33.5,ObstructiveApnea,00001667_04_85
72664,1667,13950.0,13980.0,30.0,Wake,NaN,NaN,NaN,NaN,00001667_04_86

In [37]:
# no_rem_df.to_csv('./data/no_rem_patients.csv', index=False)

In [39]:
# drop evnet related columns in no_rem_df

no_rem_df = no_rem_df.drop(['respiratory_type', 'event_duration', 'event_start_time', 'event_end_time'], axis=1)

In [41]:
no_rem_df.drop_duplicates()

,patient_id,stage_start_time,stage_end_time,stage_duration,stage_type,raw_audio_file_id
499,1000,0.0,30.0,30.0,Wake,00001000_01_00
500,1000,30.0,210.0,180.0,NonREM1,00001000_01_01
502,1000,210.0,510.0,300.0,NonREM2,00001000_01_02
505,1000,510.0,570.0,60.0,Wake,00001000_01_03
506,1000,570.0,600.0,30.0,NonREM1,00001000_01_04
...,...,...,...,...,...,...
72626,1667,12060.0,12990.0,930.0,NonREM2,00001667_04_82
72646,1667,12990.0,13020.0,30.0,Wake,00001667_04_83
72647,1667,13020.0,13050.0,30.0,NonREM1,00001667_04_84
72648,1667,13050.0,13950.0,900.0,NonREM2,00001667_04_85
72664,1667,13950.0,13980.0,30.0,Wake,00001667_04_86